body {
    background-color: rgb(184, 184, 184);
}

label {
    font-weight: bold;
    font-size: 20px;
}

input {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 300px;
}

ul li {
    padding-top: 10px;
}

ol li {
    padding-top: 10px;
}

.formulario {
    background-color: rgb(216, 216, 216);
    padding-left: 10px;
    padding-top: 15px;
}

.resultado {
    background-color: rgb(255, 235, 212);
}

.resultado h2 {
    padding: 10px;
}

.resultado h3 {
    text-decoration: underline;
}

.sucesso {
    color: lime;
    font-weight: bold;
    background-color: black;
    display: inline-block;
    padding: 3px 8px;
    border-radius: 5px;
    margin-left: 10px;
}

.erro {
    color: red;
    font-weight: bold;
    background-color: black;
    display: inline-block;
    padding: 3px 8px;
    border-radius: 5px;
    margin-left: 10px;
}

.metadados {
    font-weight: bold;
    padding-left: 10px;
}

.items_reconhecidos {
    font-weight: bold;
    padding-left: 10px;
}

.excecao {
    font-weight: bold;
    background-color: #ffcccc;
    color: red;
    padding: 10px;
    border: 1px solid red;
    margin-top: 15px;
}

#botao_submit, #botao_reset {
    font-weight: bold;
    background-color: rgb(199, 199, 199);
    margin-top: 25px;
    height: 50px;
    width: 150px;
    border-style: double;
    border-radius: 5px;
    cursor: pointer;
}

#botao_submit:hover, #botao_reset:hover {
    background-color: rgb(241, 255, 231);
}

#botao_baixar {
    font-weight: bold;
    background-color: red;
    margin-top: 25px;
    height: 50px;
    width: 150px;
    border-style: double;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

#botao_baixar:hover {
    background-color: rgba(255, 115, 0, 0.603);
}

#sucesso_geral {
    margin-left: 10px;
}

@media print {
    .formulario {
        display: none;
    }

    #botao_baixar {
        display: none
    }

    .comparacao {
        break-before: page;
    }
}