<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Comparar Petição com Metadados</title>
</head>
<body>
    <div class="formulario">
        <form action="/auditoria_metadados/comparar_peticao_metadados" method="post" enctype="multipart/form-data">
            <label for="peticao_inicial">Escolher petição inicial (apenas pdf)</label><br>
            <input type="file" name="peticao" id="peticao_inicial"><br><br>

            Obs.: Para múltiplos dados de autores e réus, separe-os com um jogo da velha ("#")<br><br>

            <label for="polo_ativo_input">Polo (s) ativo (s)</label><br>
            <input type="text" name="meta_nome_autor" id="polo_ativo_input"><br>

            <label for="polo_passivo_input">Polo (s) passivo (s)</label><br>
            <input type="text" name="meta_nome_reu" id="polo_passivo_input"><br>

            <label for="id_ativo_input">CPF/CNPJ do (s) polo (s) ativo (s)</label><br>
            <input type="text" name="meta_id_autor" id="id_ativo_input"><br>

            <label for="id_passivo_input">CPF/CNPJ do (s) polo (s) passivo (s)</label><br>
            <input type="text" name="meta_id_reu" id="id_passivo_input"><br>

            <input type="submit" value="Enviar" id="botao_submit">

            <input type="reset" value="Apagar tudo" id="botao_reset">
        </form>
    </div>

    {% if excecao %}
        <div class="excecao">
            ERRO: {{ excecao }}
        </div>
    {% endif %}

    {% if resultado %}
        <div class="resultado">
            <h2>TODOS OS METADADOS FORAM RECONHECIDOS NA PETIÇÃO?</h2>
            <h1 class="{{ 'sucesso' if resultado.sucesso_geral else 'erro' }}" id="sucesso_geral">
                {{ 'SIM' if resultado.sucesso_geral else 'NÃO' }}
            </h1>
            
            <hr><hr>
            <br>

            <ul>
                <h3>Comparação de CPF/CNPJ</h3>
                {% for id_meta in resultado.comparacao_ids %}
                    <li>
                        <span class="metadados">{{ id_meta.alvo }}:</span> <span class="{{ id_meta.classe }}">{{ id_meta.status }}</span>
                    </li>
                {% endfor %}
            </ul>

            <hr>
            
            <ul>
                <h3>Comparação de nomes</h3>
                {% for nome_meta in resultado.comparacao_nomes %}
                    <li>
                        <span class="metadados">{{ nome_meta.alvo }}:</span> <span class="{{ nome_meta.classe }}">{{ nome_meta.status }}</span>
                    </li>
                {% endfor %}
            </ul>

            <hr>
            <hr>

            <ol>
                <h3>CPF/CNPJ reconhecidos</h3>
                {% for id_extraido in resultado.ids_extraidos %}
                    <li class="reconhecidos">{{ id_extraido }}</li>
                {% endfor %}
            </ol>

            <hr>

            <ol>
                <h3>Nomes de autores e réus reconhecidos</h3>
                {% for nome_extraido in resultado.nomes_extraidos %}
                    <li class="reconhecidos">{{ nome_extraido }}</li>
                {% endfor %}
            </ol>

            <hr>
        </div>
    {% endif %}
</body>
</html>