<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparar Petição com Metadados</title>
</head>
<body>
    <form>
        <label for="peticao_inicial">Escolher petição inicial</label><br>
        <input type="file" name="peticao" id="peticao_inicial"><br>

        <label for="polo_ativo_input">Polo (s) ativo (s)</label><br>
        <input type="text" name="meta_nome_autor" id="polo_ativo_input"><br>

        <label for="polo_passivo_input">Polo (s) passivo (s)</label><br>
        <input type="text" name="meta_nome_reu" id="polo_passivo_input"><br>

        <label for="id_ativo_input">CPF/CNPJ do (s) polo (s) ativo (s)</label><br>
        <input type="text" name="meta_id_autor" id="id_ativo_input"><br>

        <label for="id_passivo_input">CPF/CNPJ do (s) polo (s) passivo (s)</label><br>
        <input type="text" name="meta_id_reu" id="id_passivo_input"><br>

        <input type="submit" value="Enviar">

        <input type="reset" value="Apagar tudo">
    </form>
</body>
</html>